.zmdi-power,
.zmdi-settings {
  position: absolute;
  pointer-events: auto;
  top: 30px;
  right: 10px;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .zmdi-power,
.zmdi-settings{
  font-size: 2.6rem;
}
}
.settings-container{
  z-index: 1;

}